<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <h1>Lista de tareas</h1>

    <form action="/tasks" method="POST">
        <input type="text" name="title" placeholder="Nueva tarea..." required />
        <button type="submit">Añadir</button>
    </form>

    <% if (tasks.length === 0) { %> 
        <p>No hay ninguna tarea</p>
    <%  }  %>

    <ul>
        <% tasks.forEach(t => { %>

            <li>
               <div class="row">
                    <span class="<%= t.done ? 'done' : ''  %>">
                        #<%= t.id %> - <%= t.title %> (<%= t.done ? "hecha" : "pendiente"%>)
                    </span>
                    
                    <form action="/tasks/<%= t.id %>/toggle" method="POST">
                        <button type="submit"><%= t.done ? "Marcar pendiente" : "Marcar hecha" %></button>
                    </form>

                    <form action="/tasks/<%= t.id %>/edit" method="POST">
                        <input type="text" name="title" value="<%= t.title %>" />
                        <button type="submit">Guardar</button>
                    </form>

                    <form action="/tasks/<%= t.id %>/delete" method="POST" onsubmit="return confirm('¿Borrar tarea?')">
                        <button type="submit">Borrar</button>
                    </form>
               </div>
            </li>
        <% })   %>
    </ul>
</body>
</html>